/* TAG SELECTORS */

body {
  color: #fff;
  font-family: "Nunito Semibold";
  text-align: center;
}

/* ID SELECTORS */

#content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 10px;
  max-width: 960px;
  margin: 0 auto;
}

#content div {
  background: #333;
  padding: 30px;
}


/* CLASS SELECTORS */


/*Grid Styles*/

