/* TAG SELECTORS */

body {
  color: #fff;
  font-family: "Nunito Semibold";
  text-align: center;
}

/* ID SELECTORS */

#content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 960px;
  margin: 0 auto;
}

#content div {
  background: #3bbced;
  padding: 30px;
}

#content div:nth-child(even) {
  background: #777;
}
/*NOTE: Above #content div styling simply enabless the content to display two different backgrounds for odd and even.*/

/* CLASS SELECTORS */

.nested {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-column: 1 / 4; 
  /*grid-column: span 3; - same as the above grid line positioning, starts at column line 1 by default and spans across 3 columns.*/
}

.nested p {
  border: 1px solid #fff;
  padding: 20px;
  margin: 0;
}